@model IEnumerable<WebInventoryManagementSystem.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Users Dashboard</h2>

<p>
    @Html.ActionLink("Add User", "Create", new { }, new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Username")
        </th>
        <th>
            @Html.DisplayName("Password")
        </th>
        <th>
            @Html.DisplayName("Phone #")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_email)
        </td>
        <td>@{ 
                if (item.u_status == 1)
                {
                    @Html.Label("Active")
                }
                else
                {
                    @Html.Label("In-Active")
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role.r_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.u_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
