@model WebInventoryManagementSystem.Stock

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Add Stock</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.st_proID, "Stock Product ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.st_proID, ViewBag.st_proID as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.st_proID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cartons", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.st_proCarton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.st_proCarton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Carton Per Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.st_proPieces, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.st_proPieces, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.st_purchaseInvID, "Purchase Invoice ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.st_purchaseInvID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.st_purchaseInvID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index",new { },new {@class="btn btn-success"})
            </div>
        </div>
    </div>
}
