@model WebInventoryManagementSystem.role

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Role")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_name)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.r_id }, new {@class="btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new {@class="btn btn-success" })
</p>
